{% extends 'headerPage.html' %}
{% load static %}
{% block content%}

 <section id="appointment" class="appointment section-bg">
      <div class="container">
         <div class="section-title" id="myform">
          <h2>Silahkan Masukkan Detail</h2>
          <p>Anda sedang menggunakan sistem prediksi COVID-19 yang aman berdasarkan gejala dan beberapa informasi yang berlaku untuk perasaan dan situasi Anda saat ini. Jawaban Anda akan dianalisis dengan cermat menggunakan algoritma pembelajaran mesin. Untuk memulai, silakan klik pilihan gejala berikut. setelah itu, klik tombol prediksi.
          </p>
        </div>
         {% if covidval %}
                <script> window.location.href = "#prediction_result" </script>

                <form method="post" enctype="multipart/form-data" action="updateCovidDatabase">
                    {% else %}
       <form method="post" enctype="multipart/form-data" action="predictCovidDisease">
            {% endif %}

     {% csrf_token %}

<style>
    .img-thumbnail{
  width: 180px;
  height: 180px;
}

</style>
<div class="text-center">
     <div class="form-row">
         <div class="col-md form-group">Masalah Pernapasan
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="BreathingProblemID" value="bp">
                <label class="custom-control-label shadow-sm" for="BreathingProblemID">
                    <img src="{% static 'assets/img/breathing.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Demam
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FeverID" value="fever">
                <label class="custom-control-label shadow-sm" for="FeverID">
                    <img src="{% static 'assets/img/fever.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Batuk Kering
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="DryCoughID" value="drycough">
                <label class="custom-control-label shadow-sm" for="DryCoughID">
                    <img src="{% static 'assets/img/cough.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Sakit Tenggorokan
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="SorethroatID" value="sorethroat">
                <label class="custom-control-label shadow-sm" for="SorethroatID">
                    <img src="{% static 'assets/img/sorethroat.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>


     <div class="form-row">
         <div class="col-md form-group">Hidung Meler
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="RunningNoseID" value="runningnose">
                <label class="custom-control-label shadow-sm" for="RunningNoseID">
                    <img src="{% static 'assets/img/runnynose.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Asma
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AsthmaID" value="asthma">
                <label class="custom-control-label shadow-sm" for="AsthmaID">
                    <img src="{% static 'assets/img/asthma.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Sakit Kepala
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HeadacheID" value="headache">
                <label class="custom-control-label shadow-sm" for="HeadacheID">
                    <img src="{% static 'assets/img/headache.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Penyakit Jantung
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HeartDiseaseID" value="heartdisease">
                <label class="custom-control-label shadow-sm" for="HeartDiseaseID">
                    <img src="{% static 'assets/img/heart2.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>

     <div class="form-row">
         <div class="col-md form-group">Diabetes
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="DiabetesID" value="diabetes">
                <label class="custom-control-label shadow-sm" for="DiabetesID">
                    <img src="{% static 'assets/img/diabetes.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Hipertensi
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="HypertensionID" value="hypertension">
                <label class="custom-control-label shadow-sm" for="HypertensionID">
                    <img src="{% static 'assets/img/hypertension.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Kelelahan
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FatigueID" value="fatigue">
                <label class="custom-control-label shadow-sm" for="FatigueID">
                    <img src="{% static 'assets/img/fatigue.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Perjalanan ke Luar Negeri
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AbroadTravelID" value="abroad">
                <label class="custom-control-label shadow-sm" for="AbroadTravelID">
                    <img src="{% static 'assets/img/abroad2.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>

     <div class="form-row">
         <div class="col-md form-group">Kontak dengan Pasien Covid
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="ContactCovidPatientID" value="contact">
                <label class="custom-control-label shadow-sm" for="ContactCovidPatientID">
                    <img src="{% static 'assets/img/contact.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Menghadiri Pertemuan Besar
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="AttendedLargeGatheringID" value="attended">
                <label class="custom-control-label shadow-sm" for="AttendedLargeGatheringID">
                    <img src="{% static 'assets/img/large.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Area Publik yang Dikunjungi
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="VisitedPublicID" value="visited">
                <label class="custom-control-label shadow-sm" for="VisitedPublicID">
                    <img src="{% static 'assets/img/visited.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
            </div>
        </div>
        <div class="col-md form-group">Keluarga yang Bekerja di Publik
             <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" name="checks" id="FamilyWorkingPublicID" value="fam">
                <label class="custom-control-label shadow-sm" for="FamilyWorkingPublicID">
                    <img src="{% static 'assets/img/public.png' %}" alt="#" class="img-thumbnail rounded">
                </label>
             </div>
        </div>
     </div>
<br>
<br>

        {%  if covidval  %}
            {%  if covidval == "positive"  %}
            <div class="alert alert-danger" id="prediction_result">
                <h1 class="bx bxs-error"></h1>
                <h4>Sepertinya Anda membutuhkan bantuan dan berpotensi  </h4>
                <h2><u><b> Positif COVID-19.</b> </u></h2>
                <p>Demi keselamatan Anda, segera hubungi dinas kesehatan atau penyedia layanan medis.</p>
                <p>Untuk mendapatkan sertifikasi tes PCR resmi, kami sarankan untuk mengikuti proses yang biasa dan menjalani tes PCR / Swab.</p>
            </div>
            {%  else  %}
            <div class="alert alert-info" id="prediction_result">
                <h1 class="bx bxs-info-circle"></h1>
                <h4>Anda tampak baik-baik saja </h4>
                <h2><u><b> Negatif COVID-19.</b> </u></h2>
                <p>Tetap patuhi tindakan pencegahan keamanan terhadap virus dan waspadai <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class="more-btn">Saran WHO untuk Umum</a></p>
                <p>Untuk mendapatkan sertifikasi tes PCR resmi, kami sarankan untuk mengikuti proses yang biasa dan menjalani tes PCR / Swab.</p>
            </div>
            {% endif %}
         <a href="/" class="navbar-brand">Prediksi Ulang?</a>
         {% else%}
            <div class="php-email-form text-center" id="predict-button"><button type="submit">Prediksi</button></div>
         {% endif %}

        </form>
     </div>
    </section>
        <br>
     {% endblock %}
